*.class

# Local configuration file
local.properties

# IntelliJ:
/out/
/lib/

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/project-template.xml
.idea/copyright/
.idea/dictionaries/
# /*.iml

# OS Files
*.DS_Store